/* Best servers box */

position: absolute;
left: 2.46%;
right: 76.85%;
top: 38.55%;
bottom: 34.97%;



/* Vector */

position: absolute;
left: 2.46%;
right: 76.85%;
top: 38.55%;
bottom: 34.97%;

background: #133155;
border: 1px solid #F6B723;
box-shadow: 0px 0px 20px #000000;


/* Group */

position: absolute;
left: 10.06%;
right: 84.32%;
top: 41.37%;
bottom: 51.77%;



/* Group */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.77%;

mix-blend-mode: multiply;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.77%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.78%;

background: #FEFEFE;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.78%;

background: #FDFDFD;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.78%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.78%;

background: #FCFBFB;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.79%;

background: #FBFAFA;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.79%;

background: #FAFAF9;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.79%;

background: #F9F9F8;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.8%;

background: #F8F8F7;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.8%;

background: #F7F7F6;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.8%;

background: #F6F6F5;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.81%;

background: #F5F5F4;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.81%;

background: #F5F4F3;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.81%;

background: #F4F3F2;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.81%;

background: #F3F2F1;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.82%;

background: #F2F1F0;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.82%;

background: #F1F1EF;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.82%;

background: #F0F0EE;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.83%;

background: #EFEFED;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.83%;

background: #EEEEEC;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.83%;

background: #EEEDEB;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.84%;

background: #EDECEA;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.84%;

background: #ECEBE9;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.84%;

background: #EBEAE8;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.85%;

background: #EAE9E7;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.85%;

background: #E9E8E6;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.85%;

background: #E8E8E5;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.85%;

background: #E8E7E4;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.86%;

background: #E7E6E3;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.86%;

background: #E6E5E2;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.86%;

background: #E5E4E1;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.87%;

background: #E4E3E0;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.87%;

background: #E3E2DF;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.87%;

background: #E2E1DE;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.88%;

background: #E1E0DD;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.88%;

background: #E1DFDC;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.88%;

background: #E0DFDB;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.89%;

background: #DFDEDA;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.89%;

background: #DEDDD9;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.89%;

background: #DDDCD8;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.89%;

background: #DCDBD7;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.9%;

background: #DBDAD6;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.9%;

background: #DAD9D5;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.9%;

background: #DAD8D4;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.91%;

background: #D9D7D3;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.91%;

background: #D8D6D2;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.91%;

background: #D7D6D1;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.92%;

background: #D6D5D0;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.92%;

background: #D5D4CF;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.92%;

background: #D4D3CE;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.92%;

background: #D3D2CD;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.93%;

background: #D3D1CC;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.93%;

background: #D2D0CB;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.93%;

background: #D1CFCA;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.94%;

background: #D0CEC9;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.94%;

background: #CFCDC8;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.94%;

background: #CECDC7;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.95%;

background: #CDCCC6;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.95%;

background: #CDCBC5;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.95%;

background: #CCCAC4;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.95%;

background: #CBC9C3;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.96%;

background: #CAC8C2;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.96%;

background: #C9C7C1;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.96%;

background: #C8C6C0;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.97%;

background: #C7C5BF;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.97%;

background: #C6C4BE;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.97%;

background: #C6C4BD;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.98%;

background: #C5C3BC;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.98%;

background: #C4C2BB;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.98%;

background: #C3C1BA;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.98%;

background: #C2C0B9;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.99%;

background: #C1BFB8;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.99%;

background: #C0BEB7;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 51.99%;

background: #BFBDB6;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52%;

background: #BFBCB5;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52%;

background: #BEBBB4;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52%;

background: #BDBBB3;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.01%;

background: #BCBAB2;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.01%;

background: #BBB9B1;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.01%;

background: #BAB8B0;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.01%;

background: #B9B7AF;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.02%;

background: #B9B6AE;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.02%;

background: #B8B5AD;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.02%;

background: #B7B4AC;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.03%;

background: #B6B3AB;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.03%;

background: #B5B2AA;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.03%;

background: #B4B2A9;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.04%;

background: #B3B1A8;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.04%;

background: #B2B0A7;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.04%;

background: #B2AFA6;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.05%;

background: #B1AEA5;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.05%;

background: #B0ADA4;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.05%;

background: #AFACA3;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.05%;

background: #AEABA2;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.06%;

background: #ADAAA1;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.06%;

background: #ACA9A0;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.06%;

background: #ABA99F;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.07%;

background: #ABA89E;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.07%;

background: #AAA79D;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.07%;

background: #A9A69C;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.08%;

background: #A8A59B;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.08%;

background: #A7A49A;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.08%;

background: #A6A399;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.09%;

background: #A5A298;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.09%;

background: #A5A197;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.09%;

background: #A4A096;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.09%;

background: #A3A095;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.1%;

background: #A29F94;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.1%;

background: #A19E93;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.1%;

background: #A09D92;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.11%;

background: #9F9C91;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.11%;

background: #9E9B90;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.11%;

background: #9E9A8F;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.12%;

background: #9D998E;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.12%;

background: #9C988D;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.12%;

background: #9B978C;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.12%;

background: #9A978B;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.13%;

background: #99968A;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.13%;

background: #989589;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.13%;

background: #979488;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.14%;

background: #979387;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.14%;

background: #969286;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.14%;

background: #959185;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.15%;

background: #949084;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.15%;

background: #938F83;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.15%;

background: #928E82;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.15%;

background: #918E81;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.16%;

background: #908D80;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.16%;

background: #908C7F;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.16%;

background: #8F8B7E;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.17%;

background: #8E8A7D;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.17%;

background: #8D897C;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.17%;

background: #8C887B;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.18%;

background: #8B877A;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.18%;

background: #8A8679;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.18%;

background: #8A8578;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.19%;

background: #898577;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.19%;

background: #888476;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.19%;

background: #878375;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.2%;

background: #868274;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.2%;

background: #858173;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.2%;

background: #848072;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.2%;

background: #837F71;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.21%;

background: #837E70;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.21%;

background: #827D6F;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.21%;

background: #817C6E;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.22%;

background: #807C6D;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.22%;

background: #7F7B6C;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.22%;

background: #7E7A6B;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.23%;

background: #7D796A;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.23%;

background: #7C7869;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.23%;

background: #7C7768;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.23%;

background: #7B7667;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.24%;

background: #7A7566;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.24%;

background: #797465;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.24%;

background: #787364;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.25%;

background: #777363;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.25%;

background: #767262;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.25%;

background: #767161;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.26%;

background: #757060;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.26%;

background: #746F5F;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.26%;

background: #736E5E;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.26%;

background: #726D5D;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.27%;

background: #716C5C;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.27%;

background: #706B5B;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.27%;

background: #6F6A5A;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.28%;

background: #6F6A59;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.28%;

background: #6E6958;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.28%;

background: #6D6857;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.29%;

background: #6C6756;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.29%;

background: #6B6655;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.29%;

background: #6A6554;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.29%;

background: #696453;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.3%;

background: #686352;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.3%;

background: #686251;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.3%;

background: #676150;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.31%;

background: #66614F;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.31%;

background: #65604E;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.31%;

background: #645F4D;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.32%;

background: #635E4C;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.32%;

background: #625D4B;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.32%;

background: #625C4A;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.32%;

background: #615B49;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.33%;

background: #605A48;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.33%;

background: #5F5947;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.33%;

background: #5E5846;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.34%;

background: #5D5845;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.34%;

background: #5C5744;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.34%;

background: #5B5643;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.35%;

background: #5B5542;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.35%;

background: #5A5441;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.35%;

background: #595340;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.36%;

background: #58523F;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.36%;

background: #57513E;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.36%;

background: #56503D;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.36%;

background: #554F3C;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.37%;

background: #544F3B;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.37%;

background: #544E3A;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.37%;

background: #534D39;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.38%;

background: #524C38;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.38%;

background: #514B37;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.38%;

background: #504A36;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.39%;

background: #4F4935;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.39%;

background: #4E4834;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.39%;

background: #4D4733;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.4%;

background: #4D4632;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.4%;

background: #4C4631;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.4%;

background: #4B4530;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.4%;

background: #4A442F;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.41%;

background: #49432E;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.41%;

background: #48422D;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.41%;

background: #47412C;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.42%;

background: #47402B;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.42%;

background: #463F2A;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.42%;

background: #453E29;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.43%;

background: #443D28;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.43%;

background: #433D27;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.43%;

background: #423C26;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.44%;

background: #413B25;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.44%;

background: #403A24;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.44%;

background: #403923;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.44%;

background: #3F3822;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.45%;

background: #3E3721;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.45%;

background: #3D3620;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.45%;

background: #3C351F;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.46%;

background: #3B341E;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.46%;

background: #3A341D;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.46%;

background: #39331C;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.47%;

background: #39321B;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.47%;

background: #38311A;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.47%;

background: #373019;


/* Vector */

position: absolute;
left: 10.08%;
right: 84.34%;
top: 41.4%;
bottom: 52.47%;

background: #362F18;


/* Vector */

position: absolute;
left: 10.06%;
right: 84.32%;
top: 41.37%;
bottom: 52.46%;

background: linear-gradient(0deg, #5A5137 0%, #362F18 22%, #E1C690 100%);


/* Vector */

position: absolute;
left: 10.22%;
right: 84.48%;
top: 41.54%;
bottom: 52.63%;

background: #133155;


/* Group */

position: absolute;
left: 10.72%;
right: 85.09%;
top: 42.63%;
bottom: 53.48%;



/* Vector */

position: absolute;
left: 10.72%;
right: 88.04%;
top: 42.86%;
bottom: 55.03%;

background: #F6B723;


/* Vector */

position: absolute;
left: 12.38%;
right: 86.72%;
top: 45.2%;
bottom: 54.07%;

background: #F6B723;


/* Vector */

position: absolute;
left: 11.36%;
right: 85.75%;
top: 42.63%;
bottom: 54.85%;

background: #F6B723;


/* Vector */

position: absolute;
left: 13.67%;
right: 85.09%;
top: 42.85%;
bottom: 55.03%;

background: #F6B723;


/* Vector */

position: absolute;
left: 11.93%;
right: 86.27%;
top: 46.02%;
bottom: 53.48%;

background: #F6B723;
